<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Enggaarden - Hjem</title>
        <link href="kartotek_style.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="/home" id="logo" class="logo-img">
                <img src="/Images/enggaarden_logo.png" alt="enggårdens logo">
            </a>
            <a href="/home">Hjem</a>
            <a href="/members">Medlemskartotek</a>
            <a href="/emails">Gruppemail</a>
            <a href="/contributions">Støtte</a>
            <a href="/statistics">Statistik</a>
            <a href="/subscriptionLog">Kontingent Ændringer</a>
        </nav>
        <div class="container">
            <header class="header1">
                <h1>Forside</h1>
                <br>
                <p>Velkommen til Enggårdens Venners digitale kartotek!<br>
                   Vælg en handling i navigationsbaren ovenfor.</p>
            </header>
        </div>
        <img src="/Images/får.jpg" alt="billede af får" class="main-image">
    </body>
</html>